.page_box {
	padding: 10px;
	border: 1px solid black;
	margin: 10px;
	background-color: #ffffff;
	color: black;
}
.xinhaIssueNoticeGreen {
	padding: 0.3em;
	border: 1px solid green;;
	margin: 0.3em;
	background-color: #d5f3be;
	font-family: Arial;
	color: green;
	font-weight: bold;
}
.XinhaSubHeadline {
	border-bottom: 1px dotted gray;
	font-size: 1.2em;
	font-family: Trebuchet;
}
.XinhaFancyText {
	font-family: Georgia;
	font-weight: bold;
	font-size: 1.5em;
	letter-spacing: -1px;
}
